

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #005A9C
    ;
  }
 
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    display: flex; 
    justify-content: center;  
    flex-wrap: wrap;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    
  }

  
  
  header h1 {
    margin: 0;
  }
  
  header img {
    border-radius: 50%;
    max-width: 100px;
    margin-top: 10px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
   
    color: #c22626;
    font-weight: bold;
  }
  
  section {
    margin-top: 20px;
  }
  
  .work-item {
    margin-bottom: 20px;
    
  }
  
  .work-item .card  {
    .work-item .card {
      max-width: 400px; 
      margin: 0 auto; 
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s;
      border-radius: 15px;
    }
    img {border-radius: 15px;}
    
  }
  footer{ 
    background-color: burlywood;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .button {
    background-color: rgb(129, 159, 90);
  }


  
  @media screen and (max-width: 992px) {
.work-item{
  width:50%
}



    
  }
